#!jinja2
[cylc]
	UTC mode = True # Ignore DST
	abort if any task fails = True

[scheduling]
	initial cycle point = 2018-06-12T00:00:00Z
	final cycle point = +P1D
	[[dependencies]]
		[[[R1]]]
			graph = task_a => task_b
		[[[P1D]]]
			graph = """
					task_d[-P1D] => task_b => task_c => task_d					
					"""

[runtime]
	[[root]]
		env-script = eval $(rose task-env --cycle-offset=P1D)
		script = rose task-run --verbose
		[[[job]]]
			execution time limit = PT3H
		[[[events]]]
			mail events = submission timeout, execution timeout
			submission timeout = P1D

	[[task_a]]
	[[task_b]]
	[[task_c]]
	[[task_d]]
        script = """
            echo "run: task D"
            """

